/* =============================================================================
   My CSS
   ========================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    font: normal 75% Arial, Helvetica, sans-serif;
}

.count-particles {
    background: #ffffff;
    position: relative;
    top: 400px;
    color: #000000;
    text-indent: 4px;
    line-height: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.text7 {
    font-size: 50px;
    padding-top: 30px;
    position: relative;
}

.text8 {
    font-size: 25px;
    padding-bottom: 10px;
    position: relative;
}

/* ---- particles.js container ---- */

#particles-js {
    background-color: #000000;
    background-image: url('');
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}


.link1 {
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 15px;
    text-align: left;
    position: relative;
}

.link2 {
    color: cornflowerblue;
    text-decoration: underline;
    font-size: 15px;
    text-align: right;
    position: absolute;
    right: 50px;
    margin-bottom: 20px;
}

.text9 {
    font-size: 15px;
}

.bor {
    border: 1px dotted black;
}

.pad2 {
    padding-bottom: 20px;
}



.card1 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);

}

.card2 {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.card .face {
    width: 245px;
    transition: 0.5s;
}

.card {
    border: none;
}

.card .face.face1 {
    height: 100px;
    position: relative;
    background: #fff;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.card:hover .face.face1 {
    transform: translateY(0px);
}

.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content {
    opacity: 1;
}

.container .card .face.face2 {
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container .card .face.face2 .content h3 {
    margin: 0 0 10px 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
    text-align: center;
    color: #414141;
}






