html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




@media screen and (min-width: 651px) {
    body {
        background-color: #1a1a1a;
        cursor: none;
    }
}

@media screen and (max-width: 650px) {
    body {
        background-color: #1a1a1a;
        cursor: none;
        pointer-events: none;
    }
}



@font-face {
    font-family: 'Branic';
    src: url(css/fonts/Branic.otf);
}

@font-face {
    font-family: 'Bigilla';
    src: url(css/fonts/Bigilla-Bold.otf);
}



@font-face {
    font-family: 'Momcake';
    src: url(fonts/MomcakeThin-9Y6aZ.otf);
}


@font-face {
    font-family: 'Roses';
    src: url(fonts/Bigilla.otf);
}



@font-face {
    font-family: 'CL';
    src: url(fonts/Caviar_Dreams_Bold.ttf);
}


@font-face {
    font-family: 'CL2';
    src: url(fonts/Doppelganger.otf);
}





@media screen and (min-width: 651px) {
    .sig {
        font-family: 'Momcake';
        color: white;
        font-size: 45px;
        mix-blend-mode: difference;

    }

}

@media screen and (max-width: 650px) {
    .sig {
        font-family: 'Momcake';
        color: white;
        font-size: 30px;
        mix-blend-mode: difference;

    }

}




@media screen and (min-width: 651px) {
    .sigIMG {
        width: 100px;
        mix-blend-mode: difference;
    }
}

@media screen and (max-width: 650px) {
    .sigIMG {
        width: 60px;
        mix-blend-mode: difference;
        -webkit-transform: translate(-30%, 0%);

    }
}



@media screen and (min-width: 651px) {
    .sigIMG2 {
        width: 250px;
        mix-blend-mode: difference;
    }
}

@media screen and (max-width: 650px) {
    .sigIMG2 {
        width: 100px;
        mix-blend-mode: difference;
        -webkit-transform: translate(-30%, 0%);

    }
}


.copyright {
    font-family: 'Noctis';
    color: white;
    font-size: 10px;
    text-align: center;
}



@media screen and (min-width: 651px) {
    h1 {
        color: white;
        font-family: 'Momcake';
        font-size: 210px;
        text-align: center;
        position: relative;
        -webkit-transform: translate(0%, 72%);
    }
}

@media screen and (max-width: 650px) {
    h1 {
        color: white;
        font-family: 'Momcake';
        font-size: 80px;
        text-align: center;
        position: relative;
        -webkit-transform: translate(0%, 130%);

    }
}




@media screen and (min-width: 651px) {
    .h2About {
        color: white;
        font-family: 'Momcake';
        font-size: 60px;
        text-align: center;
        position: relative;
        z-index: 99;
        animation: fade-in-bottom 5s ease-in-out both;

    }
}

@media screen and (max-width: 650px) {
    .h2About {
        color: white;
        font-family: 'Momcake';
        font-size: 50px;
        text-align: center;
        position: relative;
        z-index: 99;
    }
}


@media screen and (min-width: 651px) {
    h2 {
        color: white;
        font-family: 'Momcake';
        font-size: 100px;
        text-align: center;
        position: relative;
        z-index: 99;
        animation: fade-in-bottom 10s ease-in-out both;

    }


    .h2 {
        color: white;
        font-family: 'Momcake';
        font-size: 100px;
        text-align: center;
        position: relative;
        z-index: 99;
        animation: fade-in-bottom 5s ease-in-out both;

    }



    /*

    @keyframes text-clip {
        from {
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        }

        to {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }


    .cafe {
        animation-delay: 12s;

        animation: outer-left 12s 12s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    .cafe-inner {
        display: inline-block;
        animation-delay: 12s;

        animation: inner-left 12s 6s ease both, text-clip 12s 12s cubic-bezier(0.5, 0, 0.1, 1) both;
    }

    .cafe > .cafe-inner {
        display: inline-block;
    }
*/

}

@media screen and (max-width: 650px) {
    h2 {
        color: white;
        font-family: 'Momcake';
        font-size: 50px;
        text-align: center;
        position: relative;
        z-index: 99;
    }
}





@media screen and (min-width: 651px) {
    .h2Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .h2Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 60px;
    }
}



@media screen and (min-width: 651px) {
    .h1Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 110px;
    }
}

@media screen and (max-width: 650px) {
    .h1Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 50px;
    }
}

@media screen and (min-width: 651px) {
    .h5Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 60px;
    }
}

@media screen and (max-width: 650px) {
    .h5Extra {
        font-family: 'CL2';
        font-style: italic;
        font-size: 50px;
    }
}



.footer-dark .item.social {
    text-align: center;
}


@media screen and (min-width: 651px) {
    .footer-dark .item.social > a {
        font-family: 'Momcake';
        color: white;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        margin: 0 60px;
    }
}

@media screen and (max-width: 650px) {
    .footer-dark .item.social > a {
        font-family: 'Momcake';
        color: white;
        font-size: 18px;
        display: inline-block;
        text-align: center;
        margin: 0px 20px;
    }
}

.footer-dark .item.social > a:hover {
    color: darkgray;
}

@media screen and (min-width: 651px) {
    .imgMe {
        -webkit-transform: translate(0%, 10%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        filter: gray;
        -webkit-transition: all .3s ease-in-out;
        position: relative;
        animation: appear 2s ease-in-out both;
        animation-delay: 3s;

    }


}



@media screen and (max-width: 650px) {
    .imgMe {
        -webkit-transform: translate(0%, 10%);
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        filter: gray;
        -webkit-transition: all .8s ease-in-out;
        position: relative;
        animation: appear 6s ease-in-out both;
        animation-delay: 5s;

    }


}


@keyframes appear {
    0% {
        filter: none;
        -webkit-filter: grayscale(0);
        -webkit-transform: scale(0.8);
    }

    100% {
        filter: gray;
        -webkit-filter: grayscale(1);
        -webkit-transition: all .8s ease-in-out;
        -webkit-transform: translate(0%, 10%);

    }
}



text {
    fill: white;
    font-size: 30px;
    font-family: 'CL2';
}

.wrapper22 {
    position: relative;
    margin: auto;
}

@media screen and (min-width: 651px) {
    .circle {
        width: 250px;
        height: 250px;
        font-family: 'Noctis';
        border-radius: 100%;
        background-color: #1a1a1a;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

@media screen and (max-width: 650px) {
    .circle {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        background-color: #1a1a1a;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
}

.navbar {
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 90%;
    /* Full width */
    z-index: 9999;
    mix-blend-mode: difference;
    margin-left: 30px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 50px 16px;
    text-decoration: none;
    mix-blend-mode: difference;
}

.navbar a:hover {
    color: white;
}

.menu {
    text-align: center;
    fill: white;
    font-family: 'Momcake';
}



.marquee {
    position: relative;
    overflow: hidden;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
}

.marquee__inner {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 12s linear infinite;
    animation-play-state: play;
    font-family: 'Momcake';
}

.marquee span {
    font-size: 3.5vw;
    padding: 0 2vw;
}

.marquee:hover .marquee__inner {
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.bg33 {
    background-color: white;
}









@media screen and (min-width: 351px) {

    .cursor {
        position: absolute;
        background: white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        /*     mix-blend-mode: difference;*/
        transform: scale(0.8);
        z-index: 9999;
    }

    .cursor::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        opacity: 0;
    }

    .cursor.active {
        opacity: 1;
        transform: scale(12);
    }

    .cursor.active::before {
        opacity: 1;
    }

    .cursor-follower {
        mix-blend-mode: difference;
        position: absolute;
        background: rgba(255, 255, 255, 1);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
        z-index: 9999;
    }

    .cursor-follower.active {
        opacity: 0.3;
        transform: scale(0);
    }

}

@media screen and (max-width: 350px) {

/*

    .cursor {
        position: absolute;
        background: white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
             mix-blend-mode: difference;
        transform: scale(0.8);
        z-index: 9999;
    }

    .cursor::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        opacity: 0;
    }

    .cursor.active {
        opacity: 1;
        transform: scale(12);
    }

    .cursor.active::before {
        opacity: 1;
    }

    .cursor-follower {
        mix-blend-mode: difference;
        position: absolute;
        background: rgba(255, 255, 255, 1);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
        z-index: 9999;
    }

    .cursor-follower.active {
        opacity: 0.3;
        transform: scale(0);
    }
*/

}







.wave {
    font-family: 'CL2';
    font-size: 50px;
}

text {
    font-size: 40px;
}


.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: none;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1
    }

    to {
        opacity: 1
    }
}








.content {
    width: 100%;
    margin: 0 auto;
    padding: 10vh 25px;
    max-width: 1050px;
    justify-content: center;
    list-style: none;
    z-index: 99999;
}

.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
*/
}

.content__item::before {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}


@media screen and (min-width: 651px) {

    .link {
        cursor: pointer;
        font-size: 15px;
        position: relative;
        white-space: nowrap;
        color: white;
    }


    .link:hover {
        cursor: pointer;
        font-size: 15px;
        position: relative;
        white-space: nowrap;
        color: white;
    }


    .link::before,
    .link::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: white;
        top: 100%;
        left: 0;
        pointer-events: none;
    }

    .link::before {
        content: '';
        color: white;
    }

    .link--metis {
        font-family: 'Momcake';
        color: white;
    }

    .link--metis::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        color: white;

    }

    .link--metis:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        color: white;
    }




}

@media screen and (max-width: 650px) {

    .link {
        cursor: pointer;
        font-size: 11px;
        position: relative;
        white-space: nowrap;
        color: white;
    }


    .link:hover {
        cursor: pointer;
        font-size: 11px;
        position: relative;
        white-space: nowrap;
        color: white;
    }


    .link::before,
    .link::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: white;
        top: 100%;
        left: 0;
        pointer-events: none;
    }

    .link::before {
        content: '';
        color: white;
    }

    .link--metis {
        font-family: 'Momcake';
        color: white;
    }

    .link--metis::before {
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
        transition: transform 0.3s;
        color: white;

    }

    .link--metis:hover::before {
        transform-origin: 0% 50%;
        transform: scale3d(1, 1, 1);
        color: white;
    }


}



.content {

    /*    display: grid;*/
    width: 100%;
    margin: 0 auto;
    padding: 10vh 25px;
    max-width: 1050px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 4rem;
    grid-row-gap: 6rem;
    list-style: none;
}

.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /*    counter-increment: itemcounter;*/
    display: flex;
    flex-direction: column;
    position: relative;
}

.content__item::before {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    /*    content: counters(itemcounter, ".", decimal-leading-zero);*/
}






@media screen and (min-width: 651px) {
    .workLink {
        font-family: 'Momcake';
        font-size: 130px;
        color: white;
        text-decoration: none;
    }

}

@media screen and (max-width: 650px) {
    .workLink {
        font-family: 'Momcake';
        font-size: 70px;
        color: white;
        text-decoration: none;
    }

}

.workLink:hover {
    color: white;
    text-decoration: none;
}



@media screen and (min-width: 651px) {
    .footer-dark {
        /*        padding: 50px 0;*/
        color: #ffffff;
        background-color: #1a1a1a;
        opacity: 1;
    }
}

@media screen and (max-width: 650px) {
    .footer-dark {
        /*        padding: 50px 0;*/
        color: #ffffff;
        background-color: #1a1a1a;
        opacity: 1;
        margin-top: -110px;
    }

}

@media screen and (min-width: 651px) {
    h3 {
        font-family: 'Momcake';
        font-size: 90px;
        text-align: center;
        /*        transform: translate(-10%, 0%);*/
    }
}

@media screen and (max-width: 650px) {
    h3 {
        font-family: 'Momcake';
        font-size: 50px;
        text-align: center;
        /*        transform: translate(22%, 0%);*/

    }
}


@media screen and (min-width: 651px) {
    .NYText {
        font-family: 'CL2';
        font-size: 110px;
        text-align: center;
        /*        transform: translate(-10%, 0%);*/
        font-style: italic;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        color: white;

    }

    .NYText:hover {
        font-family: 'CL2';
        font-size: 110px;
        text-align: center;
        /*        transform: translate(-10%, 0%);*/
        font-style: italic;
        text-decoration: underline;
        text-decoration-thickness: 4px;
        color: white;
    }
}

@media screen and (max-width: 650px) {
    .NYText {
        font-family: 'CL2';
        font-size: 50px;
        text-align: center;
        /*        transform: translate(22%, 0%);*/
        font-style: italic;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        color: white;

    }

    .NYText:hover {
        font-family: 'CL2';
        font-size: 50px;
        text-align: center;
        /*        transform: translate(-10%, 0%);*/
        font-style: italic;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        color: white;
    }
}



#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
    z-index: 999999;
    transition: all 2s ease;
    overflow: none;
}


#preloader2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
    z-index: 999999;
    transition: all 1s ease;
    overflow: none;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 2s;
}

.loader .loader_text {
    font-size: 50px;
    font-weight: 600;
    font-family: 'CL2';
    color: #26001B;
    margin: 20px auto;
    text-align: center;
}


@keyframes fill {
    0% {
        width: 0%
    }

    100% {
        width: 100%
    }
}


::-webkit-scrollbar {
    width: 0;
}

.progressbar {
    position: fixed;
    top: 0;
    left: 0%;
    background: rgba(255, 255, 255, 0.8);
    width: 3px;
    z-index: 1;
}





@media screen and (min-width: 651px) {
    .navigation-wrapper ul {
        margin-top: 80px;
        margin-left: 100px;
        /*    margin-bottom: 200px;*/
        list-style: none;
        position: relative;
    }

    .navigation-item {
        display: block;
        user-select: none;
        margin: 10px 0;
        font-family: 'Momcake';
        font-size: 130px;
        color: white;
    }

    .span2 {
        position: relative;
        display: block;
        font-family: 'Momcake';
        font-size: 130px;
        color: white;
    }
}

@media screen and (max-width: 650px) {
    .navigation-wrapper ul {
        margin-top: 80px;
        margin-left: 10px;
        /*    margin-bottom: 200px;*/
        list-style: none;
        position: relative;
    }

    .navigation-item {
        display: block;
        user-select: none;
        margin: 10px 0;
        font-family: 'Momcake';
        font-size: 130px;
        color: white;
    }

    .span2 {
        position: relative;
        display: block;
        font-family: 'Momcake';
        font-size: 50px;
        color: white;
    }
}






.navigation-item .span2:before {
    /*    width: 0;*/
    color: #ffffff;
    /*    overflow: hidden;*/
    position: absolute;
    /*    transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);*/
    font-family: 'Momcake';
    font-size: 130px;
    color: white;
}

.navigation-item .span2:hover:before {
    width: 100%;
}


.project-preview-wrapper {
    width: 90%;
    height: 90vh;
    position: fixed;
    display: flex;
    justify-content: center;
}

.project-preview {
    position: fixed;
    top: 25%;
    left: 50%;
    width: 0px;
    height: 400px;
    background: no-repeat 50% 50%;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 900px) {

    .progressbar,
    .project-preview-wrapper {
        display: none;
    }

}




.dot2 {
    height: 7px;
    width: 7px;
    background-color: #fff;
    border-radius: 50%;
    display: block;
    margin: auto;

}

h4 {
    color: white;
    font-size: 30px;
    margin: 30px;
    display: block;
    font-family: 'Momcake';
    text-align: center;
}


h5 {
    color: white;
    font-size: 20px;
    margin: 30px;
    display: block;
    font-family: 'Momcake';
    text-align: center;
}


.live {
    color: white;
    font-size: 20px;
    margin: 30px;
    display: block;
    font-family: 'Momcake';
    text-align: center;
}

.live:hover {
    color: white;
    font-size: 20px;
    margin: 30px;
    display: block;
    font-family: 'Momcake';
    text-align: center;
}



@media screen and (min-width: 651px) {
    p {
        color: white;
        font-size: 14px;
        margin: auto;
        display: block;
        font-family: 'Momcake';

    }

}

@media screen and (max-width: 650px) {
    p {
        color: white;
        font-size: 12px;
        margin: auto;
        display: block;
        font-family: 'Momcake';

    }

}

.freudImg {
    width: 50%;
}

@media screen and (min-width: 651px) {
    li {
        color: white;
        font-size: 14px;
        margin: auto;
        display: block;
        font-family: 'Momcake';

    }

}

@media screen and (max-width: 650px) {
    li {
        color: white;
        font-size: 12px;
        margin: auto;
        display: block;
        font-family: 'Momcake';

    }

}




.content2 {
    margin-left: 4%;
    margin-right: 4%;

}

.unwindSize {
    width: 800px;
}

.unwindSize2 {
    width: 1200px;
}

.row3 {
    display: flex;
}

.column3 {
    flex: 53.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column3 {
        width: 100%;
    }
}



.row4 {
    display: flex;
}

.column4 {
    flex: 53.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column4 {
        width: 100%;
    }
}


.row2 {
    display: flex;
}

.column2 {
    flex: 43.33%;
    padding: 5px;
}

@media screen and (max-width: 500px) {
    .column2 {
        width: 100%;
    }
}




.scroll-container {
    height: 100vh;
    min-height: 450px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}



.scroll-element,
.scroll-caption {
    width: 50%;
}

.scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
}

.scroll-caption {
    margin: 1rem;
}


@media screen and (max-width: 650px) {

    .scroll-container,
    .scroll-container:nth-of-type(even) {
        flex-direction: column;
        align-content: inherit;
    }

    .scroll-element {
        height: 100%;
    }

    .scroll-element,
    .scroll-caption {
        width: 100%;
    }
}

/**Styling scrollable elements*/

.js-scroll {
    opacity: 0;
    transition: opacity 300ms;
}

.js-scroll.scrolled {
    opacity: 1;
}

.scrolled.fade-in {
    animation: fade-in 7s ease-in-out both;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-2-11 23:32:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.p2 {
    font-size: 18px;
}


.sizeimg2 {
    width: 500px;
}
